.hero {
  background-color: #f8f9fa;
  padding: 5rem 0;
  margin-bottom: 2rem;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.heroSubtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.heroButton {
  padding: 0.75rem 2rem;
}

.heroImage {
  animation: float 3s ease-in-out infinite;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.transitionImage {
  transition: opacity 0.3s ease-in-out;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.primaryImage {
  position: relative;
  z-index: 2;
}

.secondaryImage {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.imageContainer:hover .primaryImage {
  opacity: 0;
}

.imageContainer:hover .secondaryImage {
  opacity: 1;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.section {
  margin-bottom: 4rem;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.aboutCard {
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 1rem;
  width: 100%;
}

.aboutCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.aboutText {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
}

.profileImage {
  max-width: 300px;         /* Control maximum display size */
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  image-rendering: -webkit-optimize-contrast;  /* For Chrome/Safari */
  image-rendering: crisp-edges;                /* For Firefox */
  -ms-interpolation-mode: nearest-neighbor;    /* For IE/Edge */
  transform: translateZ(0);                    /* Force GPU acceleration */
  backface-visibility: hidden; 
}

.profileImage:hover {
  transform: scale(1.05);
}

.projectCard {
  height: 100%;              
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  transition: transform 0.2s ease;
  background: var(--background);
}

.projectImage{
  min-height: 200px;
  object-fit: cover;
}

.projectBody {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

.projectText {
  margin-top: 10px;
}

.projectButton {
  margin-top: auto;
  width: fit-content;
}


.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contactText {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.contactList {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.contactList li {
  margin-bottom: 0.5rem;
}

.divider {
  border: 0;
  height: 3px;
  background: linear-gradient(to right, transparent, #666, transparent);
  margin: 2rem 0;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

